body {
  background-image: url(../images/table-background.jpg);
  background-size: cover;
}

.container-fluid {
  padding: 20px 60px;
  width: 94%;
}

.main-style {
  background-color: #ffffff;
  opacity: 0.95;
}

.logo-img {
  width: 200px;
}

.main-button,
.main-item-button,
{
  background-color: #dbab50;
  color: black;
  min-width: 60px;
  text-align: center;
  border: none;
}

.intro {
  background-color: #dbab50;
  color: black;
  min-width: 60px;
  text-align: center;
  border: none;
  padding: 15px 0;
  margin: 10px;
  border: rounded;
}

.main-item-background {
  background-color: #dbab50;
  margin: 3px;
  border-radius: 5%;
}

.main-header {
  text-transform: uppercase;
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif"; */
  font-weight: normal;
  font-size: 1.2em;
  padding-top: 0.5em;
}

.main-box-style {
  background-color: #ffffff;
  opacity: 0.95;
}

#main-selected-box {
  height: 400px;
}

#main-get-recipes {
  height: 50px;
}

.main-new-ingredient {
  position: relative;
  bottom: 10px;
}

#main-selected-list {
  width: 70%;
  height: 400px;
  margin: auto;
}

.recipe-card {
  width: 300px;
  height: 300px;
  margin: 10px;
  float: left;
}

#main-recipe-options {
  height: 400px;
}
.card-text {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
